<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbo-prefetch" content="false">
    <title>Document</title>
</head>
<body>
    <% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<% if @todo.errors.any? %>
    <% @todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
<% end %>

<%= form_with model: @todo, data: {turbo: false} do |form| %>
    <%= form.text_field :title %>
    <%= form.submit %>
<% end %>

<% @todos.each do |todo| %>
    <li><%= todo.title %> | <%= todo.status %> |
        <% if todo.status == 'Not Done' %>
            <%= link_to 'mark done', toggle_status_todo_path(todo), data: {turbo_method: :post} %>
        <% elsif todo.status == 'Done' %>
            <%= link_to 'mark not done', toggle_status_todo_path(todo), data: {turbo_method: :post} %>
        <% end %>
        <%= link_to 'X', todo_path(todo), data: {turbo_method: :delete} %>
    </li>
<% end %>
</body>
</html>